USER_ID=1000
GROUP_ID=1000
PUID=1000
PGID=1000
TZ=America/Sao_Paulo
BOOKLORE_PORT=6060
DATABASE_USERNAME=booklore
DATABASE_PASSWORD=troque_essa_senha_forte
MYSQL_DATABASE=booklore
MYSQL_USER=booklore
MYSQL_PASSWORD=troque_essa_senha_forte
MYSQL_ROOT_PASSWORD=troque_essa_senha_root_forte
SWAGGER_ENABLED=false
FORCE_DISABLE_OIDC=false
